.Add {
	
}

.Add h2{
	text-align: center;
}

.Add form{
    background: rgba(255, 255, 255, 0.585);
    max-width: 350px;
    margin: auto;
    border: 1px solid lightblue;
    padding: 20px;
}


.Add label{
    display: block;
}

.Add label span{
    display: block;
}